<html>
  <head></head>
  <body>
    <h1>Add Accommodation</h1>
      <form action="/add" method="POST">
        <label>Name</label>
        <input type="text" name="name">
        <label>Description</label>
        <input type="text" name="description">
        <label> Price per Night: </label>
        <input type="text" name="price_per_night">
        <label>Availability</label>
        <input type="text" name="availability">
        <input type="submit" value="Add Listing"/>
      </form>
  </body>
</html>