<html></html>
  <head></head>
  <body>
    <h1>Details for: <%= @listing[:name] %></h1>
    <p>Description: <%= @listing[:description] %></p>  
    <p>Price per night: <%= @listing[:price_per_night] %></p>  
    <p>Available dates: <%= @listing[:availability] %></p>  
  </body>
</html>